<div class="row-fluid">
  <h2 align="center">MetaCorp</h2>
  <h3 align="center">A GoatGroup Company</h3>
  <div class="span12">
    <div class="row-fluid">
      <div class="span4 offset4">

        <div class="signup">
          <%= form_tag "sessions", :class=> "signup-wrapper" do %>

          <div class="header">
            <h2>Login</h2>
            <p>Fill out the form below to login to your control panel.</p>
          </div>

          <div class="content">
            <%= hidden_field_tag :url, @url%>
            <%= text_field_tag :email, params[:email], {:class => "input input-block-level", :placeholder=>"Email"} %>
            <%= password_field_tag :password, nil, {:class => "input input-block-level", :placeholder=>"Password"}%>
          </div>

          <div class="actions">
	 		<span class="checkbox-wrapper">
            	<%= link_to "Forgot Password", forgot_password_path, {:class=>"pull-left"}%>
			</span>	
            <%= submit_tag "Login", {:class => "btn btn-info btn-large pull-right"} %>
          </div>

          <div class="clearfix"></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>