<div class="row-fluid">
 <div class="span12">
    <div class="row-fluid">
      <div class="span4 offset4">
        <h2 align="center">MetaCorp</h2>
        <h3 align="center">A GoatGroup Company</h3>

        <!-- TODO -->
        <!-- Create a form that allows a user to reset their password -->
        <!-- This form is just a placeholder with no working functionality -->

        <div class="signup">
          <%= form_tag "password_resets", :class=> "signup-wrapper" do %>

          <div class="header">
            <h2>Create Password</h2>
            <p>Fill out the form below to create a new password.</p>
          </div>

          <div class="content">
            <%= hidden_field_tag 'user', Base64.encode64(Marshal.dump(@user)) %>
            <%= label_tag "Enter Password" %>
            <%= password_field_tag :password, params[:password], {:class => "input input-block-level"} %>
            <%= label_tag "Confirm Password" %>
            <%= password_field_tag :confirm_password, params[:confirm_password], {:class => "input input-block-level"} %>
          </div>

          <div class="actions">
            <%= submit_tag "Create Password", {:class => "btn btn-danger btn-large"} %>
          </div>

          <div class="clearfix"></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
