<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span4 offset4">
        
        <div class="signup">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "account_edit", :class=> "signup-wrapper"}) do |f| %>
            <div class="header">
              <h2>Sign up</h2>
            </div>
            <%= devise_error_messages! %>
          
            <div class="content">
              <%= f.email_field :email, autofocus: true, :class => "input input-block-level", :placeholder => "Email" %>
              <%= f.text_field :first_name, {:class => "input input-block-level", :placeholder => "First Name"} %>
              <%= f.text_field :last_name, {:class => "input input-block-level", :placeholder => "Last Name"} %>
              
              
              <div class="control-group">
                <%= f.password_field :password, autocomplete: "off", :class => "input input-block-level", :placeholder => "Password" %>
              </div>
              <div class="control-group">
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input input-block-level", :placeholder => "Confirm Password" %>
              </div>
            </div>
          
            <div class="actions">
              <%= f.submit "Sign up", {:id => 'submit_button', :class => "btn btn-info btn-large"} %>
            </div>
            
            <div class="clearfix"></div>      
            <%= render "devise/shared/links" %>
            
          <% end %>

    
        </div>    
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "validation.js"%>
