<header>

    <span style="color:#eee;margin-left:10px;">
     Font Size:
     <a href="<%= home_dashboard_index_path %>?font=8pt" style="font-size:10pt;color:#eee;">A</a>
     <a href="<%= home_dashboard_index_path %>?font=200%25" style="font-size:18pt;color:#eee;">A</a>
   </span>
     <div class="user-profile">
       <a data-toggle="dropdown" class="dropdown-toggle">
         <img src=" <%= image_path('profile_color.jpg')%>"  alt="profile">
	   
       </a>
       <span class="caret"></span>
       <ul class="dropdown-menu pull-right">
         <li>
			<%= link_to "account settings", user_account_settings_path(:user_id => current_user.user_id) %>
         </li>
         <li>
           <%= link_to "logout", logout_path %>
         </li>
       </ul>
     </div>
     <ul class="mini-nav">
	   <li style="color: #FFFFFF">
		<!-- 
		I'm going to use HTML safe because we had some weird stuff
		going on with funny chars and jquery, plus it says safe so I'm guessing
		nothing bad will happen
		-->
		Welcome, <%= current_user.first_name.html_safe %>
	   </li>
	   <li>
		<%= button_to "RailsGoat Tutorials", tutorials_path, {:class => "btn btn-primary", :method => "get"}%>
	   </li>
     </ul>
</header>