<div class="dashboard-wrapper">
	<div class="main-container">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget">
					<div class="widget-header">
						<div class="title">
							<span class="fs1" aria-hidden="true" data-icon="&#xe071;"></span>
							Manage Users
						</div>
					</div>
					<div class="widget-body">
						<div id="dt_example" class="example_alt_pagination">
		                    <table class="table table-striped table-hover table-bordered pull-left" id="data-table">    
		                      <thead>
		                        <tr>
		                          <th>
		                            Name
		                          </th>
		                          <th>
		                            Email
		                          </th>
		                          <th>
		                            Admin User
		                          </th>
		                          <th>
		                            Action
		                          </th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                       <% @users.each do |u|%>
		  							<tr>
		                        	  <td style="word-wrap:break-word;">
		                        	    <%= "#{u.first_name} #{u.last_name}"%>
		                        	  </td>
		                        	  <td>
		                        	    <%= u.email%>
		                        	  </td>
		                        	  <td>
		                        	    <%= u.admin ? "Yes" : nil %>
		                        	  </td>
		                        	  <td>
		                        	    <%= link_to "Edit", "#", {:class => "btn btn-inverse"}%>	
										<%= link_to "Delete", "#", {:class => "btn btn-danger"}%>	
									  </div>
		                        	  </td>
		                        	</tr>
							   <% end %>
		                      </tbody>
		                    </table>
		                    <div class="clearfix">
		                    </div>

		                  </div>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>	

<%= javascript_include_tag "jquery.dataTables.js"%>

<script type="text/javascript">

function dataTablePagination(){
	$('#data-table').dataTable({
      "sPaginationType": "full_numbers"
    });
};

function makeActive(){
	$('li[id="admin_dashboard"]').addClass('active');
};

$(document).ready(
	makeActive,
	dataTablePagination()
);
</script>