<div class="row-fluid">
  <div class="span12">
      

        <div class="row-fluid">
          <div class="span4 offset4">
            <div class="signup">
			<%= form_for @user, :html => {:id => "account_edit", :class=> "signup-wrapper"} do |f| %>
			
					<div class="header">
	                  <h2>Sign Up</h2>
	                  <p>Fill out the form below to login</p>
	                </div>
	
					<div class="content">
				    		<%= f.label "Email Address" %>
				    		<%= f.text_field :email, {:class => "input input-block-level"} %>
				
							<%= f.label "First Name" %>
				    		<%= f.text_field :first_name, {:class => "input input-block-level"} %>
				
							<%= f.label "Last Name" %>
				    		<%= f.text_field :last_name, {:class => "input input-block-level"} %>
				 
				      		<div class="control-group">
				    			<%= f.label :password, nil %>
				    			<%= f.password_field :password, {:class => "input input-block-level"}%>
				 			</div>
							<div class="control-group">
								<%= f.label :confirm_password %>
				    			<%= f.password_field :password_confirmation, {:class => "input input-block-level"}%>
							</div>
					</div>
				
					<div class="actions">
						<%= f.submit "Submit", {:id => 'submit_button', :class => "btn btn-info btn-large pull-right"} %>
					</div>
					<div class="clearfix"></div>
				<% end %>

            </div>
          </div>
        </div>
     

  </div>
</div>

<%= javascript_include_tag "validation.js"%>