<div class="dashboard-wrapper">
	<div class="main-container">
		<div class="row-fluid">
			<div class="span12">
				<div id="success" style="display: none;" class="alert alert-block alert-success fade in">
		            <h4 class="alert-heading">
		              Success!
		            </h4>
		            <p>
		              Information successfully updated.
		            </p>
		          </div>
			</div>
		</div>	
		<div class="row-fluid">
			<div class="span12">
				<div id="failure" style="display: none;" class="alert alert-block alert-error fade in">
                    <h4 class="alert-heading">
                      Error!
                    </h4>
                    <p>
                      Failed to update.
                    </p>
                  </div>
			</div>
		</div>
		<div class="row-fluid">
		   	<div class="span12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14c;"></span> Direct Deposit
                  </div>
                </div>
                <div class="widget-body">
					<div class="row-fluid">
						<%= form_tag "#", {:class => "form-horizontal", :id => "bank_info_form" } do %>
							<!-- Begin inputs-->
							
								<div class="input-append">
								  <%= text_field_tag :bank_account_num, params[:bank_account_num], {:placeholder => "Bank Account Number"} %>	
								  <span class="add-on">#</span>
								</div>
							
								<div class="input-append">
								  <%= text_field_tag :bank_routing_num, params[:bank_routing_num], {:placeholder => "Bank Routing Number"} %>
								  <span class="add-on">#</span>
								</div>
							
							
			      				<div class="input-append">
								  <%= text_field_tag :dd_percent, params[:dd_percent], {:placeholder => "Percentage of Deposit"} %>
                  				  <span class="add-on">%</span>
                  				</div>
						
							<!-- End Inputs -->
							<%= submit_tag "Submit", {:id => "dd_form_btn", :style => "margin-left: 10px;", :class => "btn btn-medium btn-primary"} %>
						<% end %>	
						</div>	
                </div>
              </div>
            </div>
		</div>
	</div>
</div>

<script type="text/javascript">

$("#dd_form_btn").click(function(event) {
     var valuesToSubmit = $("#bank_info_form").serialize();
     event.preventDefault();
     $.ajax({
       url: <%= sanitize(update_dd_info_user_pay_index_path(:format => "json").inspect) %>,
 	  data: valuesToSubmit,
 	  type: "POST",
 	  success: function(response) {
 		$('#success').show(500).delay(1500).fadeOut();
 	  },
 	  error: function(event) {
 		$('#failure').show(500).delay(1500).fadeOut();
 	  }
 	});
 });

	function makeActive(){
		$('li[id="pay"]').addClass('active');
	};
	
 $(document).ready(makeActive)

</script>