<div class="dashboard-wrapper">
	<div class="main-container">
		<!-- Begin DP-->
		<div class="row-fluid">
			<div class="span6">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe052;"></span> Schedule PTO
                  </div>
                </div>
                <div class="widget-body">
                  	 <form class="form-horizontal" action="#">
	                   
	                    <div class="control-group">
	                      <label class="control-label" for="date_range1">
	                        Date Range Input
	                      </label>
	                      <div class="controls">
	                        <div class="input-append">
	                          <input type="text" name="date_range1" id="date_range1" class="span8 date_picker" placeholder="Select Date"/>
	                          <span class="add-on">
	                            <i class="icon-calendar"></i>
	                          </span>
	                        </div>
	                      </div>
	                    </div>

	                    
	                  </form>
                </div>
              </div>
            </div>
		</div>	
		<!-- End DP-->
		<div class="row-fluid">
			<!-- Begin Span-->
		   	<div class="span6">
              <div class="widget no-margin">
                <div class="widget-header">
                  <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe101;"></span> Sick Days
                  </div>
                </div>
                <div class="widget-body">
                  <ul class="progress-statistics">
                    <li>
                      <div class="details">
                        <span>
                          Sick Days Taken
                        </span>
                        <span class="pull-right"> 
                          <%= @pto.sick_days_taken %>
                        </span>
                      </div>
                      <div class="progress progress-striped active progress-danger">
                        <div class="bar" style="width: 78%;">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="details">
                        <span>
                          Sick Days Earned
                        </span>
                        <span class="pull-right">
                         <%= @pto.sick_days_earned %>
                        </span>
                      </div>
                      <div class="progress progress-success progress-striped active">
                        <div class="bar" style="width: 32%;">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="details">
                        <span>
                          Sick Days Remaining
                        </span>
                        <span class="pull-right">
                          <%= @pto.sick_days_remaining %>
                        </span>
                      </div>
                      <div class="progress progress-striped active">
                        <div class="bar" style="width: 84%;">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
			<!-- End Span-->
		</div><br/>
		<div class="row-fluid">
				<div class="span6">
	              <div class="widget no-margin">
	                <div class="widget-header">
	                  <div class="title">
	                    <span class="fs1" aria-hidden="true" data-icon="&#xe101;"></span> Vacation Days (PTO)
	                  </div>
	                </div>
	                <div class="widget-body">
	                  <ul class="progress-statistics">
	                    <li>
	                      <div class="details">
	                        <span>
	                          PTO Days Taken
	                        </span>
	                        <span class="pull-right">
	                           <%= @pto.pto_taken %>
	                        </span>
	                      </div>
	                      <div class="progress progress-striped active progress-danger">
	                        <div class="bar" style="width: 78%;">
	                        </div>
	                      </div>
	                    </li>
	                    <li>
	                      <div class="details">
	                        <span>
	                          PTO Days Earned
	                        </span>
	                        <span class="pull-right">
	                          <%= @pto.pto_earned %>
	                        </span>
	                      </div>
	                      <div class="progress progress-success progress-striped active">
	                        <div class="bar" style="width: 32%;">
	                        </div>
	                      </div>
	                    </li>
	                    <li>
	                      <div class="details">
	                        <span>
	                          PTO Days Remaining
	                        </span>
	                        <span class="pull-right">
	                          <%= @pto.pto_days_remaining %>
	                        </span>
	                      </div>
	                      <div class="progress progress-striped active">
	                        <div class="bar" style="width: 84%;">
	                        </div>
	                      </div>
	                    </li>
	                  </ul>
	              </div>
		</div>	
	</div>
</div>

<script type="text/javascript">

 //Dropdown
  $('.dropdown-toggle').dropdown();

//Date picker
$('.date_picker').daterangepicker({
  opens: 'right'
});
</script>