<!DOCTYPE html>
<html>
<head>
  <title>RailsGoat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> <!-- <~ What is this for? I hear it helps w/ JS and Sea-surfing.....whatevz -->
  <!-- bootstrap css -->
<%
if cookies[:font]
%>
<style>body { font-size:<%= raw cookies[:font] %> !important;}</style>
<%
end
%>

</head>
<body>
<% if current_user %>
  <%= render "layouts/shared/header" %>
  <%= render "layouts/shared/sidebar" %>
<% else %>
  <%= render "layouts/tutorial/header" %>
  <%= render "layouts/tutorial/sidebar" %>
<% end %>
<div class="container-fluid">
  <div class="dashboard-wrapper">
    <%= render "layouts/shared/messages" %>
    <%= yield %>
  </div>
</div>
  <%= render "layouts/shared/footer" %>

<script type="text/javascript">

//Dropdown
$('.dropdown-toggle').dropdown();
</script>

</body>
</html>
