<!DOCTYPE html>
<html>
<head>
  <title>RailsGoat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %> <!-- <~ What is this for? I hear it helps w/ JS and Sea-surfing.....whatevz -->
 <!--[if lte IE 7]>
 <script src="assets/fonts/lte-ie7.js">
 </script>
 <![endif]-->

</head>
<body>

<%= render "layouts/tutorial/header" %>
<%= render "layouts/tutorial/sidebar" %>

<div class="container-fluid">
  <div class="dashboard-wrapper">
    <%= yield %>
  </div>
</div>
  <%= render "layouts/shared/footer" %>
</body>
</html>
